@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 2.5rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  height: 100vh;
}

html { overflow: auto !important}
